<div class="row">
    <div class="col">
        <button type="submit" class="btn btn-primary form-control"><i class="fas fa-save"></i> Crear</button>
        &nbsp;
    </div>
    <div class="col">
        <a asp-action="Index" class="btn btn-success form-control"><i class="fas fa-reply-all"></i> Volver a vista</a>    
    </div>
</div>